.sipList {
  list-style: none;
  padding: 0;
}
.sipItem {
  padding: 4px 8px;
}
.icon {
  margin-right: 8px;
}
.sipOnlineIcon {
  color: #00a854;
}
.sipOfflineIcon {
  color: #f04134;
}
.lineIcon {
  margin-right: 8px;
}
.phoneIcon {
  margin-right: 8px;
}
.sipText {
  padding: 8px 4px;
  cursor: pointer;
}
.sipText:hover {
  background-color: lightcyan;
  margin-left: 8px;
  box-shadow: 1px 1px #e8e8e8;
}
.sipTextSelected {
  background-color: lightcyan;
  box-shadow: 1px 1px #e8e8e8;
}
